<!-- TODO Externalise CSS. Remove Inline CSS. -->
<!--
<style>
</style> -->
<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> DYLLAN</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/SCtm60yNRXk?list=PLFekHlQuOs51TsNkCoKpr1MnQ37nQDvUs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>UNIQUE | VISIONARY | DEVOTED</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Dyllan is very social and has played a big role in motivating the team to complete contracts on time and within budget.”</p>
  <p class="center-align">Paul Brown - GM Jigsaw</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Current</strong></td>
        <td>Office clerk at Jigsaw</td>
      </tr>
      <tr>
        <td><strong>Dates</strong></td>
        <td>August 2015 – Present</td>
      </tr>
      <tr>
        <td><strong>Experience</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Information technology and <br>information systems analysis</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Data management/development</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Cyberculture communications<br>media and society</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Web development, game design,<br>modelling, animation</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'divx-strength-icons.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Marketing Campaigns Officer at Macquarie<br>Uni Australasian Union for Jewish Students</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'divx-passions-icons.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref.</strong></td>
          <td>Part-time</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Monday - Friday</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Consistent Routine</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Supportive Environment</td>
        </tr>
        <tr>
          <td><strong>Available</strong></td>
          <td>From July 2016, in Sydney</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English, Hebrew</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Bachelor of Arts, Interactivity and Games - Macquarie University (current)</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Bachelor of Information Technology, Business Information Systems<br>Macquarie University</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
