<!-- TODO Externalise CSS. Remove Inline CSS. -->
<!--
<style>
</style> -->
<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> FIONA</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Ij7d6ffvt48?list=PLFekHlQuOs51TsNkCoKpr1MnQ37nQDvUs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>CREATIVE | INQUISITIVE | ORGANISED</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">"Fiona's ability to coach others on new systems and processes has <br>increased the productivity of our entire team"</p>
  <p class="center-align">Paul Brown - GM Jigsaw</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Current</strong></td>
        <td>Office Clerk at Jigsaw</td>
      </tr>
      <tr>
        <td><strong>Dates</strong></td>
        <td>August 2015 - Present</td>
      </tr>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Process Management</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Project Management</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Admin and Data Entry</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Creative Writing and Editing</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Social Research</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'divx-strength-icons.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Creative and Print Production at St Vincent De Paul</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'divx-passions-icons.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Current</strong></td>
          <td>Office Clerk at Jigsaw</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>August 2015 - Present</td>
        </tr>
        <tr>
          <td><strong>Level</strong></td>
          <td>Entry Level</td>
        </tr>
        <tr>
          <td><strong>Specialties</strong></td>
          <td>Process Management</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Project Management</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Admin and Data Entry</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Creative Writing and Editing</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Social Research</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
