<!-- TODO Externalise CSS. Remove Inline CSS. -->

<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> JACK DODD</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/vSRXDt41bFc" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>CREATIVE | PASSIONATE | FUNNY</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Jack is a great creative thinker, has a broad knowledge and vocabulary, and an enthusiasm for success. He confidently MC'd a recent event keeping 80 people entertained.”</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Script and comedy writing</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Director</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Film editing</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Acting</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'Jack_Strengths.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Volunteer at St Vincent de Paul Society</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'Jack_Passions.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref</strong></td>
          <td>A role with variety</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Flexible working</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Conversational office</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Casual / Part-time / Flexible hours</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>From August 2016, in Sydney</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Cert II in IT (Photoshop) - TAFE</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Cert II Media (Video Editing) - TAFE</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
