<!-- TODO Externalise CSS. Remove Inline CSS. -->

<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> KAMEL</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/sIaDJ1b3dno?list=PLFekHlQuOs51TsNkCoKpr1MnQ37nQDvUs" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>MOTIVATED | CREATIVE | CURIOUS</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Kamel is dedicated, focused and always willing to do overtime.”</p>
  <p class="center-align">Katie Brown - HR Manager, Jigsaw</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Previous</strong></td>
        <td>Contact centre at Internet Traffic<br>Solutions Management</td>
      </tr>
      <tr>
        <td><strong>Dates</strong></td>
        <td>June 2015 – November 2015</td>
      </tr>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Sales and Telemarketing</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Sales and Telemarketing</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Media and Communications</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Language translation and interpretation</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'divx-strength-icons.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Creative and Print Production at St Vincent De Paul</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'divx-passions-icons.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref</strong></td>
          <td>Part-time</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Monday – Friday</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Consistent routine</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>From July 2016, in Sydney</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English, Algerian, French & Berber</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Cert IV Communication & Media - TAFE Northern Sydney Institute</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Diploma Communication & Media - TAFE Northern Sydney Institute</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
