<!-- TODO Externalise CSS. Remove Inline CSS. -->

<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> KIMBALL GIBSON (Kim)</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/GYNnCsb5Uys" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>CURIOUS | ATTENTION TO DETAIL | PROBLEM SOLVING</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Kim's key strengths are empathy, knowledge and intelligence which give him an ability to connect theory and ideas to problems people are having.”</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Strategy and research</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Healthcare assistant</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Customer Sales</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Retail store assistant</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Accounts/Finance assistant</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'Kimball_Strengths.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Open to voluteering at Greenpeace</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'Kimball_Passions.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref</strong></td>
          <td>Consistent routine</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Converational office</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Part-time / Internship</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Structured team environment</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>From August 2016, in Sydney</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English, Basic German</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Bachelor of Science (Statistical Genetics) - UNSW</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Post Graduate Diploma (Accounting) - Macquarie University</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
