<!-- TODO Externalise CSS. Remove Inline CSS. -->

<div class="row">
  <div class="mainBox">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> RORY O'CARROLL</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/0-U_GP3Stak" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>CREATIVITY | RATIONALITY | SOCIAL</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Rory is hardworking and a team player at his best when he has his say, finds common ground with colleagues and talking about his passions. His patience has a calming effect on others.”</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Game & Music Design</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Acting</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Bartending</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Film editing</td>
      </tr>
    </tbody>
  </table>

  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'Rory_Strengths.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox3 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Open to volunteering at acting programs to help people find confidence</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'Rory_Passions.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref</strong></td>
          <td>Small to medium business</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Quiet office environment</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Casual / Full time</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Consistent Routine</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>From August 2016, in Sydney</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Cert II in Retail Services (Customer service, Cash handling, WH&S) - TAFE</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Game Design Short Course - Academy of Interactive Entertainment</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Responsible Service of Alcohol</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Responsible Conduct of Gaming</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
