<!-- TODO Externalise CSS. Remove Inline CSS. -->

<div class="row">
  <div class="mainBox1">
  <h2 class="white-text" style="padding: 20px; font-weight: 5;">INTRODUCING <br /> SHIVAKUMAR MANOHAR (SHIVA)</h2>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/KjQcngeLi10" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class=" trapezoid">
</div>
<div class="main-content" style="background-color: #F7F7F7; width: 550px; min-height: 500px; margin-left: 50px;"><br/>
  <h5 class="center-align" style="margin-top: 0px;"><strong>FRIENDLY | DISCIPLINED | CURIOUS</strong></h5>
<br />
  <p class="blue-text center-align" style="padding-left: 40px; padding-right: 40px;">“Shiva is disciplined, has a good work ethic, is friendly, reliable and helpful. He showed this as MC of a major international day of disability event where his confidence empowered others.”</p>
  <p class="center-align">Admin assistant, Jigsaw</p>
  <table style="margin-left: 40px;">
    <tbody>
      <tr>
        <td><strong>Dates</strong></td>
        <td>Feb 2015 – Present</td>
      </tr>
      <tr>
        <td><strong>Level</strong></td>
        <td>Entry Level</td>
      </tr>
      <tr>
        <td><strong>Specialties</strong></td>
        <td>Laboratory technician</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Data entry / admin</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Quality assurance</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Experimental procedures</td>
      </tr>
      <tr>
        <td><strong></strong></td>
        <td>Mentoring and guidance</td>
      </tr>
    </tbody>
  </table>
  <h5 class="center-align" style="margin: 0px"><strong>STRENGTHS</strong></h5>
  <br />
  <div class="">
    <img class="profile-icons" src="<%= asset_path 'Shivakumar_Strengths.png'%>" alt="">
  </div>
  <br />
</div>
<div class="inverse-trapezoid"></div>
  <div class="mainBox2 deep-purple lighten-2">
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Causes</strong></td>
          <td>Volunteering to help mentor other people with disabilities</td>
        </tr>
      </tbody>
    </table>
    <h5 class="center-align white-text"><strong>PASSIONS</strong></h5>
    <br />
    <div class="">
      <img class="profile-icons" src="<%= asset_path 'Shivakumar_Passions.png'%>" alt="">
    </div>
    <br />
    <table class="" style="margin-left: 60px;">
      <tbody class="white-text">
        <tr>
          <td><strong>Work Pref</strong></td>
          <td>Consistent routine</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Conversational Office</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Casual / Part-time / Full time</td>
        </tr>
        <tr>
          <td><strong>Dates</strong></td>
          <td>From August 2016, within Sydney CBD or Upper North Shore</td>
        </tr>
        <tr>
          <td><strong>Languages</strong></td>
          <td>English, Tamil</td>
        </tr>
        <tr>
          <td><strong>Education</strong></td>
          <td>Bachelor of Science (Chemistry) - Western Sydney University</td>
        </tr>
        <tr>
          <td><strong></strong></td>
          <td>Diploma in Laboratory Technology - TAFE</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
